[submodule ".zgen"]
	path = .zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule ".zinit/bin"]
	path = .zinit/bin
	url = https://github.com/zdharma/zinit.git
[submodule ".asdf"]
	path = .asdf
	url = https://gitee.com/winnochan/asdf.git
