[submodule ".zgen"]
	path = .zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug.git
[submodule ".jetbrains-agent"]
	path = .jetbrains-agent
	url = https://gitee.com/pengzhile/jetbrains-agent.git
