[submodule ".zgen"]
	path = .zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule ".base16-shell"]
	path = .base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".oo"]
	path = .oo
	url = https://github.com/hit9/oo.git
[submodule ".zplugin/bin"]
	path = .zplugin/bin
	url = https://github.com/zdharma/zplugin.git
[submodule ".asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf.git
